body {
        font-size: 14px;
    }
    body div {
	width: 650px;
	display: block;
	margin: 0 auto;
    }
    div input {
	display: block;
	width: 100%;
	margin: 8px 0;
	border: none;
	padding: 5px;
	border-radius: 10px;
    }
    div input {
	box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
    }
    button {
	border: navajowhite;
	background: #a4a4a4;
	padding: 5px 20px;
	border-radius: 12px;
	margin: 10px 10px 10px 0;
	color: #f4f4f4;
	cursor: pointer;
    }
    .disfraces, .clientes, .mensajes {
	box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
	padding: 20px 34px;
	border-radius: 30px;
	margin: 20px auto;
    }
    h2{
        color:#0000ff;
    }